---
import CardProjects from "./CardProjects.astro";
import FeaturedProjects from "./FeaturedProjects.astro";
import { data } from "../utils/data";
---

<section
  id="projects"
  class="pt-24 sm:pt-12 flex flex-col w-full max-w-5xl mx-auto"
>
  <h2
    class="text-3xl font-medium text-left mb-10 capitalize dark:text-js text-css"
  >
    Proyectos
  </h2>
  <ul>
    {
      data
        .slice(0, 3)
        .map((item) => (
          <FeaturedProjects
            id={item.id}
            image={item.image}
            title={item.title}
            description={item.description}
            tools={item.tools}
            web={item.web}
            repository={item.repository}
          />
        ))
    }
  </ul>
  <ul class="grid grid-cols-box-x gap-8 mb-4">
    {
      data
        .slice(3, 6)
        .map((item) => (
          <CardProjects
            id={item.id}
            image={item.image}
            title={item.title}
            description={item.description}
            tools={item.tools}
            web={item.web}
            repo={item.repository}
          />
        ))
    }
  </ul>
  <a
    class="mt-4 mx-auto px-3 py-1 font-semibold bg-gray-800 dark:bg-gray-100 dark:text-black text-gray-100 dark:hover:bg-js hover:bg-css dark:hover:border-js hover:border-css text-base border rounded-lg transition-colors"
    href="/projects">Ver mas</a
  >
</section>
